//Colors
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body,h1,h2,h3,span,p{
    margin: 0;
    padding:0;
   font-family: 'Montserrat', sans-serif;
}
$primary-color: #189ad3;
$button-color:#86ad19;
.header{
  margin-bottom:70px;
}
#brand{
  margin-left:80px;
  color: $primary-color;

}
#brand-sub{
  display: block;
  color:rgb(124, 218, 142)
}

#nav-col{
    background:white;
   margin: 0;
   padding:0;
   vertical-align: middle;
    position:fixed;
    z-index:100;
    width: 100%;
    top:0;
   
}
.carosel-image{

margin:auto;
  width:100%;
  background-size: cover;
  background-position: center;
}
#carosel-h{
 
  font-size: 60px;
  letter-spacing: 10px;
  font-family: serif;
  }
  #carosel-h-sub{
    color:rgb(94, 146, 201)
  }
#carosel-button{
  padding:10px;
  border-radius: 20px;
  outline: none;
  border:none;
  color:white;
  background:rgb(94,146,201)

  
}
.carousel-caption{
top:0px;
font-size:20px;
letter-spacing: 2px;
}
.navbar-color{
    color:black !important;
    font-weight:normal ;
    font-size: 20px;
    text-align: center;
}
.center-component{
   
    color:white;
    display: flex;
}
.center-image-grid{
  flex: 1;
    padding:80px;
}
.center-image{
    width: 100%;
    height:350px
    
}
.center-text{
  flex: 1;
    padding:60px;
    h3{
        color:$primary-color;
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 54px;
        span{
          color:#7CDA8E;
        }
    }
    color:gray;
    letter-spacing: 1px;
    font-size: 19px;
    word-spacing: 10px;
}
.navbar-color:hover,.navbar-color:active{
border:0.5px solid $primary-color;
border-radius: 50px;
  
}
.services-flex{
  display:flex;
}

.services-col {
  text-align: center;
}
.services {
  background: #eee;
  padding: 35px;
}
.services-heading {
  text-align: center;
}
.services-icon1 {
  background: $primary-color;
  width: 128px;
  height: 128px;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: auto;
  padding: 1.5rem;
}
.icon1 {
  width: 100%;
  height: 100%;
  color: white;
}
.contact-flex{
  display: flex;
}

.contact {
  background: $primary-color;
  padding: 30px;
}
.contact-form{
  flex:8
}
.contact-header {
  text-align: center;
  color: white;
  margin-bottom:30px;
}

.contact-address {
  color: white;
  flex: 8;
}
.map {
  a {
    text-decoration: none;
    color: yellow;
  }
}
.contact-or{
    color:white;
    font-size:25px;
    padding-top:30px;
    flex:1
   
   
}
form {
  padding: 0px 80px;
  display: flex;
  flex-direction: column;
}

.form-inputs {
  padding: 15px;
  border-radius: 10px;
}
.input-1 {
  width: 100%;
}
.input-2 {
  width: 49%;
  margin:10px 0px;
  margin-right:6px;
}
.input-3 {
  width: 49%;
  margin:10px 0px;
}
.input-4{
    width:100%;
}
#button-flex{
  display: flex;
  justify-content: flex-end;

}
#us-flex{
  display:flex;
  justify-content: space-between;
  margin-top:40px;
}
.us-note{
  display: inline;
  padding-left: 10px;

}
#mobile{
  display:block;
 padding:15px;
}
.input-5{
    width:40%;
    border-radius: 10px;
    padding:10px;
    cursor: pointer;
    color:white;
    border:none;
    outline:none;
    background:$button-color;
}
.follow-flex{
  flex:1;
  
  padding:20px;
}
.contacts-flex{
  flex:1;
   padding:20px;
}
.info-flex{
  flex:1;
   padding:20px;
}
#copyright{
    text-align: center;
    padding:25px;
}
.footer-header{
    text-align: left;
    margin-top:30px;
    padding:30px;
    padding-bottom:20px;
    margin-left:80px;
    display: flex;
}
.footer-a{
    display: inline-block;
    padding:20px;
    padding-left:0px;
    font-size: 30px;
}


.footer-b:hover{
    text-decoration: none;
    color:$primary-color
}



@media (max-width:900px){
 .center-component{
   flex-direction: column;
 }
 .contact-flex{
   flex-direction: column;
 }
  .center-image-grid{
    padding:90px;
    padding-bottom:10px;
  }
  .center-text{
    font-size:27px;
   
  }
  
  .services-flex{
    flex-wrap:wrap;
    font-size: 30px;
  }
   .services-col{
    margin-bottom: 80px;
    font-size: 28px;
  }
  .contact-form{
    font-size:30px;
  }
  .contact-address{
    padding:30px;
    font-size: 28px;
    text-align: center
  }
  .contact-or{
   text-align: center;
    padding:0px;
    
 
  }
  

}
@media(max-width:768px){
  #carosel-h{
    font-size:28px;
    letter-spacing: 1px;
  }
  .form-inputs{
    display:inline-block;
    width:100%;
  }
  .input-5{
    width:100%;
  }
  .footer-header{
    flex-direction: column;
    text-align: center;
    margin-top:15px;
    padding:30px;
    margin-left:10px;
    font-size:25px;
  }.navbar-color{
    font-size:18px;
    padding-right:0px;
  }
  .follow-flex{
    border-bottom: 1px solid grey;
    font-size: 25px;
  }
  .contacts-flex{
    border-bottom: 1px solid grey;
  }
  .contact-or{
    margin-top:50px;
  }
  .footer-a{
  padding-right:60px;
  font-size:60px;
  }
   #copy-right{
    font-size:18px;
  }
  #us-flex{
    flex-direction: column;
  }
  #brand{
    margin-left:10px;
    padding-top:20px;
      font-size:24px;
      font-weight: bold;
  }
  #brand-sub{
    display:inline;
  }
}
@media(max-width:500px){
  .center-component{
    flex-direction: column;
  }
  .center-image-grid{
padding:20px;
padding-bottom:10px;
  }
  .center-text{
    font-size: 16px;
  }
  .services-heading{
    font-size: 20px;
  }
  .services-col{
    margin-bottom: 40px;
    font-size:20px;
  }
   .form-inputs{
    display:inline-block;
    width:100%;
    font-size:20px;
  }
  .input-5{
    width:100%;
  }
  form{
    padding:20px;
  }
   .footer-header{
    flex-direction: column;
    text-align: center;
    margin-top:15px;
    padding:30px;
    margin-left:10px;
  }
  .follow-flex{
    border-bottom: 1px solid grey;
  }
  .contacts-flex{
    border-bottom: 1px solid grey;
  }
  .footer-a{
  padding-right:50px;
  font-size:50px;
  }
  #copy-right{
    font-size:28px;
  }
}